<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Amsterdam-Airbnb-locations-characterization" data-toc-modified-id="1.-Amsterdam-Airbnb-locations-characterization-0">1. Amsterdam Airbnb locations characterization</a></span><ul class="toc-item"><li><span><a href="#1.1.-Add-descriptors-to-listings" data-toc-modified-id="1.1.-Add-descriptors-to-listings-0.1">1.1. Add descriptors to listings</a></span></li><li><span><a href="#1.2.-Listings-xxploratory-analysis" data-toc-modified-id="1.2.-Listings-xxploratory-analysis-0.2">1.2. Listings xxploratory analysis</a></span></li></ul></li><li><span><a href="#2.-calendar" data-toc-modified-id="2.-calendar-1">2. calendar</a></span></li><li><span><a href="#3.-reviews" data-toc-modified-id="3.-reviews-2">3. reviews</a></span></li></ul></div>

# Exploratory analysis

## 1. Amsterdam Airbnb locations characterization

In [29]:
import pandas as pd
import numpy as np

In [30]:
all_dates_listings = pd.read_csv("../data/clean_data/all_dates_listings.csv")

In [31]:
all_dates_listings.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Date,District_code
0,0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,49.56,3,248,2018-11-28,2.10,1,44,December 2018,M
1,1,3209,"Quiet apt near center, great view",3806,Maartje,Westerpark,52.390225,4.873924,Entire home/apt,134.40,4,42,2018-08-29,1.03,1,47,December 2018,E
2,2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,Centrum-Oost,52.365087,4.893541,Entire home/apt,67.20,1,233,2018-11-30,2.18,2,198,December 2018,A
3,3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,Centrum-West,52.373114,4.883668,Entire home/apt,105.00,14,1,2018-01-21,0.09,2,141,December 2018,A
4,4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,Centrum-West,52.386727,4.892078,Private room,126.00,2,171,2018-11-25,2.03,1,199,December 2018,A

In [32]:
all_dates_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77181 entries, 0 to 77180
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      77181 non-null  int64
 1   id                              77181 non-null  int64
 2   name                            77042 non-null  object
 3   host_id                         77181 non-null  int64
 4   host_name                       76517 non-null  object
 5   neighbourhood                   77181 non-null  object
 6   latitude                        77181 non-null  float64
 7   longitude                       77181 non-null  float64
 8   room_type                       77181 non-null  object
 9   price                           77181 non-null  float64
 10  minimum_nights                  77181 non-null  int64
 11  number_of_reviews               77181 non-null  int64
 12  last_review                     67486 non-null  object
 13  reviews_per_month               67486 non-null  float64
 14  calculated_host_listings_count  77181 non-null  int64
 15  availability_365                77181 non-null  int64
 16  Date                            77181 non-null  object
 17  District_code                   77181 non-null  object
dtypes: float64(4), int64(7), object(7)
memory usage: 10.6+ MB

In [33]:
all_dates_listings.columns

Index(['Unnamed: 0', 'id', 'name', 'host_id', 'host_name', 'neighbourhood',
       'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'Date',
       'District_code'],
      dtype='object')

In [34]:
## I am just gonna keep the information I am gonna work with
listings= all_dates_listings[['id','neighbourhood','latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
                   'number_of_reviews','reviews_per_month','calculated_host_listings_count', 
                   'availability_365', 'Date','District_code']]

In [35]:
listings.head()

,id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Date,District_code
0,2818,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,49.56,3,248,2.10,1,44,December 2018,M
1,3209,Westerpark,52.390225,4.873924,Entire home/apt,134.40,4,42,1.03,1,47,December 2018,E
2,20168,Centrum-Oost,52.365087,4.893541,Entire home/apt,67.20,1,233,2.18,2,198,December 2018,A
3,25428,Centrum-West,52.373114,4.883668,Entire home/apt,105.00,14,1,0.09,2,141,December 2018,A
4,27886,Centrum-West,52.386727,4.892078,Private room,126.00,2,171,2.03,1,199,December 2018,A

### 1.1. Add descriptors to listings

In [36]:
district_descriptors = pd.read_csv("../data/clean_data/district_descriptors.csv")
district_descriptors = district_descriptors.iloc[:,1:]
district_descriptors

,District_name,District_code,type_of_crime,average_number_of_crimes,green_areas_m2,num_green_areas
0,Centrum,A,abuse,887.00,82263,10
1,Centrum,A,murder,42.00,82263,10
2,Centrum,A,open violence,68.00,82263,10
3,Centrum,A,robbery,15.67,82263,10
4,Centrum,A,street robbery,277.33,82263,10
5,Centrum,A,threat,411.00,82263,10
6,Nieuw-West,F,abuse,614.67,5836543,46
7,Nieuw-West,F,murder,46.67,5836543,46
8,Nieuw-West,F,open violence,31.00,5836543,46
9,Nieuw-West,F,robbery,51.00,5836543,46
10,Nieuw-West,F,street robbery,130.00,5836543,46
11,Nieuw-West,F,threat,500.00,5836543,46
12,Noord,N,abuse,354.67,2726583,15
13,Noord,N,murder,28.00,2726583,15
14,Noord,N,open violence,17.33,2726583,15
15,Noord,N,robbery,21.67,2726583,15
16,Noord,N,street robbery,105.67,2726583,15
17,Noord,N,threat,277.00,2726583,15
18,Oost,M,abuse,467.00,1827890,22
19,Oost,M,murder,38.33,1827890,22
20,Oost,M,open violence,21.33,1827890,22
21,Oost,M,robbery,17.67,1827890,22
22,Oost,M,street robbery,133.67,1827890,22
23,Oost,M,threat,386.67,1827890,22
24,West,E,abuse,482.67,541141,10
25,West,E,murder,33.33,541141,10
26,West,E,open violence,30.67,541141,10
27,West,E,robbery,28.67,541141,10
28,West,E,street robbery,113.00,541141,10
29,West,E,threat,401.00,541141,10
30,Zuid,K,abuse,491.67,1819623,11
31,Zuid,K,murder,33.67,1819623,11
32,Zuid,K,open violence,29.00,1819623,11
33,Zuid,K,robbery,24.33,1819623,11
34,Zuid,K,street robbery,151.33,1819623,11
35,Zuid,K,threat,334.00,1819623,11
36,Zuidoost,T,abuse,479.67,5082510,6
37,Zuidoost,T,murder,62.00,5082510,6
38,Zuidoost,T,open violence,22.33,5082510,6
39,Zuidoost,T,robbery,38.00,5082510,6
40,Zuidoost,T,street robbery,221.00,5082510,6
41,Zuidoost,T,threat,405.00,5082510,6

In [28]:
listing_descriptors = listings.merge(district_descriptors, left_on='District_code', right_on='District_code',how="left")

### 1.2. Listings xxploratory analysis

In [37]:
listing_descriptors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463086 entries, 0 to 463085
Data columns (total 18 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              463086 non-null  int64
 1   neighbourhood                   463086 non-null  object
 2   latitude                        463086 non-null  float64
 3   longitude                       463086 non-null  float64
 4   room_type                       463086 non-null  object
 5   price                           463086 non-null  int64
 6   minimum_nights                  463086 non-null  int64
 7   number_of_reviews               463086 non-null  int64
 8   reviews_per_month               404916 non-null  float64
 9   calculated_host_listings_count  463086 non-null  int64
 10  availability_365                463086 non-null  int64
 11  Date                            463086 non-null  object
 12  District_code                   463086 non-null  object
 13  District_name                   463086 non-null  object
 14  type_of_crime                   463086 non-null  object
 15  average_number_of_crimes        463086 non-null  float64
 16  green_areas_m2                  463086 non-null  int64
 17  num_green_areas                 463086 non-null  int64
dtypes: float64(4), int64(8), object(6)
memory usage: 67.1+ MB

## 2. calendar

In [39]:
calendar_cor = pd.read_csv("../data/clean_data/calendar_0320_0721.csv")

In [ ]:
calendar_pre_cor = pd.read_csv("../data/clean_data/calendar_1218_1219.csv)

## 3. reviews

In [ ]:
reviews = pd.read_csv("../data/clean_data/reviews.csv")